.login-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-login {
  color: #ffffff;
  font-size: 1.8rem;
}

.login-button {
  background-color: transparent;
  border: none;
  color: #ededed;
  font-weight: bold;
  cursor: pointer;
}
